doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Search Results
		if view && view === 'tiles'
			link(id = 'stylesheet' rel = 'stylesheet' href = "/css/search-results-tiles.css")
		else
			link(id = 'stylesheet' rel = 'stylesheet' href = "/css/search-results.css")
		link(rel = 'stylesheet' href = '/css/search-results-touch.css' media = 'screen and (pointer: coarse)')
		link(rel = 'stylesheet' href = '/css/search-results-mouse.css' media = 'screen and (pointer: fine)')
		link(rel = 'stylesheet' href = '/css/iv-viewer.css')
	body
		include sidebar.pug
		div.mainDiv
			div.header
				div.vertical
					a(href='/' title = 'HOME')
						h1 Search Results for "#{searchText}"
					h2 Showing #{images.length}/#{totalResultCount} results (Page #[span#pageNumber #{page}]/#{totalPages})
				div.controlsDiv
					.vertical
						.horizontal
							form.searchForm(action = "" method = "get" target = '_blank')
								input(type = "text" name = 'searchText' id = 'searchText'
								placeholder = 'Search' onfocus = 'this.select()' 
								title = 'F3')
								input(type = "hidden" name = 'view' id = 'view')
							button#shuffleButton.sortButton(onclick = `window.location.href="/search?searchText=${encodeURIComponent(searchText)}&view=${view}&sortBy=shuffle&sortAsc=true"`
								title = 'Path Ascending') Shuffle
						.horizontal
							div.buttonControls#sliderContainer
								label(for = "slider") Zoom
								input.slider(
									type = "range" 
									min = "0.3" max="2" 
									step = "0.1" value="1" 
									id = "slider"
									name = slider 
									onchange = 'updateMultiplier(this)'
									ondblclick = 'this.value = 1; changeTileSize()'
									title = '<- ArrowLeft - ArrowRight ->'
									)
							div.config.buttonControls
								button.default(id = 'configButton' onclick = "window.open('/config', '_blank')" title = 'settings') &#9881;
					div.scaleButtons.buttonControls
						button.default(
							onclick = 'showAllImagesAtActualSize()'
							) Actual
						button.default(
							onclick = 'showAllImagesStreched()'
							) Fit
						button.default(
							onclick = 'showAllImagesAtDefaultScale()'
							) Default
					div.switchViews.buttonControls
						button.default(
							id = 'switchToTileViewButton' 
							onclick = 'switchToTileView()'
							) Tile View
					.vertical
						div.sortButtons.buttonControls
							button.sortButton(id = 'sortByPathAsc' onclick = `window.location.href="/search?searchText=${encodeURIComponent(searchText)}&view=${view}&sortBy=path&sortAsc=true"`
							title = 'Path Ascending') Path△
							button.sortButton(id = 'sortByNameAsc' onclick = `window.location.href="/search?searchText=${encodeURIComponent(searchText)}&view=${view}&sortBy=name&sortAsc=true"`
							title = 'Name Ascending') Name△
							button.sortButton(id = 'sortBySizeAsc' onclick = `window.location.href="/search?searchText=${encodeURIComponent(searchText)}&view=${view}&sortBy=size&sortAsc=true"`
							title = 'Size Ascending') Size△
							button.sortButton(id = 'sortByModifiedTimeAsc' onclick = `window.location.href="/search?searchText=${encodeURIComponent(searchText)}&view=${view}&sortBy=modifiedTime&sortAsc=true"`
							title = 'Modified Time Ascending') Time△
							button.sortButton(id = 'sortByDimensionsAsc' onclick = `window.location.href="/search?searchText=${encodeURIComponent(searchText)}&view=${view}&sortBy=dimensions&sortAsc=true"`
							title = 'Dimensions Ascending') Dim.△
						div.sortButtons.buttonControls
							button.sortButton(id = 'sortByPathDesc' onclick = `window.location.href="/search?searchText=${encodeURIComponent(searchText)}&view=${view}&sortBy=path&sortAsc=false"`
							title = 'Path Descending') Path▽
							button.sortButton(id = 'sortByNameDesc' onclick = `window.location.href="/search?searchText=${encodeURIComponent(searchText)}&view=${view}&sortBy=name&sortAsc=false"`
							title = 'Name Descending') Name▽
							button.sortButton(id = 'sortBySizeDesc' onclick = `window.location.href="/search?searchText=${encodeURIComponent(searchText)}&view=${view}&sortBy=size&sortAsc=false"`
							title = 'Size Descending') Size▽
							button.sortButton(id = 'sortByModifiedTimeDesc' onclick = `window.location.href="/search?searchText=${encodeURIComponent(searchText)}&view=${view}&sortBy=modifiedTime&sortAsc=false"`
							title = 'Modified Time Descending') Time▽
							button.sortButton(id = 'sortByDimensionsDesc' onclick = `window.location.href="/search?searchText=${encodeURIComponent(searchText)}&view=${view}&sortBy=dimensions&sortAsc=false"`
							title = 'Dimensions Descending') Dim.▽
			//- uncomment this if you want to scroll horizontally with mousewheen
			//- - div.results(onwheel="this.scrollLeft += event.deltaY * 2" 
				onmouseenter="stopMainScroll()" onmouseleave="allowMainScroll()")
			div.results
				include results.pug
			if totalPages > 1 && !shuffle
				div.pagination
					div.pageButtons(
						onwheel = "this.scrollLeft += event.deltaY" 
						onmouseenter = "stopMainScroll()" 
						onmouseleave = "allowMainScroll()")
						each page_num in Array(totalPages).fill().map((_, i) => i + 1)
							if page_num == page
								a.pageButton.active(
									href = `/search?searchText=${searchText}&view=${view}&page=${page_num}`
									)= page_num
							else
								a.pageButton(
									href = `/search?searchText=${searchText}&view=${view}&page=${page_num}`
									)= page_num
					div.navigationButtons
						if page > 1
							a#firstPageButtom(
								href = `/search?searchText=${searchText}&view=${view}&page=1`
								title = 'First Page') [1<
							a#previousPageButton(
								href = `/search?searchText=${searchText}&view=${view}&page=${page - 1}`
								title = 'Previous Page'
								) #{page - 1}<
						if page < totalPages
							a#nextPageButton(
								href = `/search?searchText=${searchText}&view=${view}&page=${page - (-1)}`
								title = 'Next Page'
								) >#{page - (-1)}
							a#lastPageButton(
								href = `/search?searchText=${searchText}&view=${view}&page=${totalPages}`
								title = 'Last Page'
								) >#{totalPages}]
			div.dummyFooter
		button#fullscreenButton(
			title = 'Fullscreen (Alt + Enter)'
			onclick = 'goFullscreen()'
			) ◹
		button(onclick = "document.documentElement.scrollTop = 0"
		id = "scrollToTopButton" title = "Scroll to Top (Alt + T)"
		) ⤒
		div.modal#modal
			.modalImageDetails
			div.modalImageContainer
			div.modalVideoContainer
				video.modalVideo.videoFile(src = '' controls loop autoplay)
			span#modalCloseButton.modalButton(title = 'Close')
				| &times;
			span#modalNextFromResultsButton.modalButton(title = 'Next from search results (right)')
				| &RightAngleBracket;
			span#modalPreviousFromResultsButton.modalButton(title = 'Previous from search results (left)')
				| &LeftAngleBracket;
			span#modalNextButton.modalButton(title = 'Next from directory (shift + right)')
				| &Rang;
			span#modalPreviousButton.modalButton(title = 'Previous from directory (shift + left)')
				| &Lang;
		script(src = '/js/home.js')
		script(src = '/js/iv-viewer.js')
		script(src = '/js/hammer.js')
		script.
			window.totalPages = !{totalPages};