div.infoDiv.marquee-container
	- const nameSegments = imageName.split('-').slice();
	- let currentName = '';
	.marquee.marquee1
		each nameSegment, index in nameSegments
			- currentName += (index == 0 ? '' : '-') + nameSegment
			.nameSegment
				- if (index != nameSegments.length - 1)
					a.imageTitle(
						href = '/search?view=tiles&searchText=' + encodeURIComponent(currentName) + '&sortBy=shuffle'
						target = "_blank")
						|#{nameSegment}
				- else
					a.imageTitle(
						href = '/search?view=tiles&searchText=' + imageLinkEscaped + '>&sortBy=path&sortAsc=true'
						target = "_blank")
						|#{nameSegment}
			|#{index == nameSegments.length - 1 ? '' : '-'}
	- const pathSegments = folderName.replace(/^\\images/).split('\\').slice(1);
	- let currentPath = '';
	.marquee.marquee3(id = 'subTitle'+idNum)
		each pathSegment, index in pathSegments
			- currentPath += '\\' + pathSegment
			.pathSegment
				a.subTitle(
					href = '/search?view=tiles&searchText=' + encodeURIComponent(currentPath) + '&sortBy=shuffle'
					target = "_blank")
					| /#{pathSegment}
	.marquee.marquee2
		.subTitle|#{imageResolution} (#{imageSizeReadable})
div.contextMenu.imageDetailsButton
	button.contextMenuButton.sidebarButton(onclick="toggleContextMenu(this)" title = "Context Menu")
		img.contextMenuIcon.actionButtonIcon(src = "/icons/contextMenu.svg")
	.additionalButtons
		a.extraButton.sidebarButton.urlButton(
			href = `${imageLinkEscaped}` target = "_blank"
		)
			img.contextMenuIcon.actionButtonIcon(src = "/icons/url.svg")
		button.extraButton.sidebarButton.shareButton(onclick = `shareExternally('${imageLinkEscaped}')`)
			img.contextMenuIcon.actionButtonIcon(src = "/icons/share.svg")
div.rename.imageDetailsButton
	button.renameButton.sidebarButton(onclick = 'showRenameDialog(this)')
		img.renameIcon.actionButtonIcon(src = "/icons/rename.svg")
	dialog.renameDialog
		form.renameForm
			input.idNum(type = "text" name = 'idNum'
				value = idNum readonly hidden)
			input.currentFilePath(type = "text" name = 'currentFilePath'
				placeholder = 'Curent File Path' value = imagePath readonly hidden)
			input.newFileName(type = "text" name = 'newFileName'
				value = imageNameNoExt
				placeholder = 'New Name (press Enter)' required)
			input(type="submit" hidden)
div.deleteDiv.imageDetailsButton
	button.deleteButton.sidebarButton(onclick = `deleteFile("${imagePath.replace(/\\/g, "\\\\")}", "${idNum}")` title = "delete")
		img.deleteIcon.actionButtonIcon(src = "/icons/delete.svg")