if images.length === 0
	p No matching images found.
else
	each image, index in images
		- const folderName = image.directory
		- const imageName = image.baseName
		- const imageNameNoExt = imageName.replace(/\.[^/.]+$/, "")
		- const imageLinkEscaped = encodeURIComponent(image.imagePath)
		//- this sets the approximate size of a row height in tiles mode
		//- it is in rem units and 25 is around 50% of a 1080p screen with the provided css
		- const baseSize = 25
		- const width = (image.width * baseSize / image.height)*multiplier
		- const padding = image.height / image.width * 100
		- const idNum = (50*(page-1)+index)
		- resultStyle = `width: ${width}rem; flex-grow: ${width}`
		- istyle = `padding-bottom: ${padding}%`
		div.result(data-width=width
			style = `${view && view === 'tiles' ? resultStyle : ""}`
			id = 'result'+ idNum
			)
			i(
				data-padding = padding 
				style = `${view && view === 'tiles' ? istyle : ""}`
				)
			div.imageSidebar(style=(multiplier <= 0.5) ? 'display: none' : '')
				div.actionButtons
					button.hideSimilarButton â›”
					button.showAtActualScaleButton(
						onclick = `showAtActualScale(${index})`
						) â­•
				div.deleteDiv
					button.deleteButton(onclick = `deleteFile("${imageLinkEscaped}", "${index}")` title = "delete") ðŸ—‘ï¸
				div.rename
					button.renameButton(onclick = 'showRenameDialog(this)') &#9998;
					dialog.renameDialog
						form.renameForm
							input.idNum(type = "text" name = 'idNum'
								value = idNum readonly hidden)
							input.currentFilePath(type = "text" name = 'currentFilePath'
								placeholder = 'Curent File Path' value = imageLinkEscaped readonly hidden)
							input.newFileName(type = "text" name = 'newFileName'
								value = imageNameNoExt
								placeholder = 'New Name (press Enter)' required)
							input(type="submit" hidden)
				div.infoDiv
					- let similarImageLink = encodeURIComponent(imageName.replace(/\.[^/.]+$/, "").replace(/\d+$/, "").replace(/\(\d*\)|\d+$/g, "").trim())
					a.imageTitle(
						id = 'imageTitle'+idNum
						href = '/search?searchText=' + similarImageLink + '&view=' + view
						target = "_blank")
						| #{imageName} 
					- let folderlink = encodeURIComponent(folderName)
					a.subTitle(
						id = 'subTitle'+idNum
						href = '/search?searchText=' + folderlink + '&view=' + view
						target = "_blank")
						|#{folderName}
					a.subTitle|#{image.resolution} (#{image.sizeReadable})
			div.mainContent
				a.contentLink(data-href='/?imageBackLink=' + imageLinkEscaped)
					if (image.type === 'image')
						img.searchImg.resultFile(id = 'image'+idNum src = imageLinkEscaped)
					else
						video.searchVid.resultFile.videoFile(id = 'image'+idNum data-src = imageLinkEscaped controls loop)