<!DOCTYPE html>
<html>

<head>
  <title>Search Results</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
	<h1>Search Results</h1>
	<h2>Found <%= matchingImagePaths.length %> results</h2>
	<% if (matchingImagePaths.length === 0) { %>
	  <p>No matching images found.</p>
	<% } else { %>
	  <% matchingImagePaths.forEach((imagePath) => { %>
		<%= imagePath %>
		<img src="<%= imagePath %>">
	  <% }) %>
  
	  <% if (totalPages > 1) { %>
		<div class="pagination">
			<a href="/search?searchText=<%= searchText %>&page=1">First</a>
			<% if (page > 1) { %>
				<a href="/search?searchText=<%= searchText %>&page=<%= page - 1 %>">Previous</a>
		  <% } else { %>
			<a class="disabled">Previous</a>
			<% } %>
		  <% let firstPage = Math.max(1, page - 3); %>
		  <% let lastPage = Math.min(totalPages, page + 3); %>
		  <% for (let i = firstPage; i <= lastPage; i++) { %>
			<% if (i === page) { %>
			  <a class="active"><%= i %></a>
			  <% } else { %>
				<a href="/search?searchText=<%= searchText %>&page=<%= i %>"><%= i %></a>
				<% } %>
		  <% } %>
		  <% if (page < totalPages) { %>
			<a href="/search?searchText=<%= searchText %>&page=<%= page + 1 %>">Next</a>
			<% } else { %>
				<a class="disabled">Next</a>
				<% } %>
				<a href="/search?searchText=<%= searchText %>&page=<%= totalPages %>">Last</a>
			</div>
	  <% } %>
  
	<% } %>
  </body>

</html>
