doctype html
html
	head
		title Search Results
		if view && view === 'tiles'
			link(id='stylesheet' rel='stylesheet' href="/css/search-results-tiles.css")
		else
			link(id='stylesheet' rel='stylesheet' href="/css/search-results.css")
	body
		div.mainDiv
			div.header
				div.headingDiv
					a(href='/' title='HOME')
						h1 Search Results for "#{searchText}"
					h2 Showing #{images.length}/#{totalResultCount} results (Page #{page}/#{totalPages})
				div.controlsDiv
			//- uncomment this if you want to scroll horizontally with mousewheen
			//- - div.results(onwheel="this.scrollLeft += event.deltaY * 2" onmouseenter="stopMainScroll()" onmouseleave="allowMainScroll()")
			div.results
				div.forms
					form.searchForm(action="" method="get")
						input(type="text" name='searchText' id='search' placeholder='Search')
						div.shuffleDiv
							label(for="shuffle") Shuffle
							if shuffle
								input(type="checkbox" id="shuffle" name="shuffle" onclick='shuffleToggle()', checked)
							else
								input(type="checkbox" id="shuffle" name="shuffle" onclick='shuffleToggle()')
					div.scaleButtons.buttonControls
						button.default(onclick='showAllImagesAtActualSize()') Actual
						button.default(onclick='showAllImagesStreched()') Fit
						button.default(onclick='showAllImagesAtDefaultScale()') Default
					div.refreshDBDiv.buttonControls
						button.default(id='refreshDBButton' onclick='refreshDB()') Refresh DB
					div.switchViews.buttonControls
						button.default(id='switchToTileViewButton' onclick='switchToTileView()') Tile View
					div.slider-container.buttonControls
						label(for="slider") Zoom
						input.slider(type="range" min="0.3" max="1.7" step="0.1" value="1" id="slider" name=slider oninput='changeTileSize()')
					div.dummyForm
				if images.length === 0
					p No matching images found.
				else
					each image, index in images
						- const folderName = image.directory
						- const imageName = image.baseName
						- const imageLinkEscaped = encodeURIComponent(image.path)
						//- this sets the approximate size of a row height in tiles mode
						//- it is in rem units and 25 is around 50% of a 1080p screen with the provided css
						- const baseSize = 25
						- const width = image.width * baseSize / image.height
						- const padding = image.height / image.width * 100
						- resultStyle = `width: ${width}rem; flex-grow: ${width}`
						- istyle = `padding-bottom: ${padding}%`
						div.result(title=`${imageName}\n${folderName}`, data-width=width, style=`${view && view === 'tiles' ? resultStyle : ""}`)
							i(data-padding=padding, style=`${view && view === 'tiles' ? istyle : ""}`)
							div.imageSidebar
								div.actionButtons
									button.hideSimilarButton ⛔
									button.showAtActualScaleButton(onclick=`showAtActualScale(${index})`) ⭕
								div.infoDiv
									- let similarImageLink = encodeURIComponent(imageName.replace(/\.[^/.]+$/, "").replace(/\d+$/, "").replace(/\(\d*\)|\d+$/g, "").trim())
									a.imageTitle(href='/search?searchText='+similarImageLink + '&view=' + view)
										| #{imageName} 
									- let folderlink = encodeURIComponent(folderName)
									a.subTitle(href='/search?searchText='+folderlink + '&view=' + view)
										|#{folderName}
							div.mainContent
								a.contentLink(data-href='/?imageBackLink=' + imageLinkEscaped, ondblclick=`location.href="/singleView?imageBackLink=${imageLinkEscaped}"`)
									if (image.type === 'video')
										video.searchVid.resultFile(id='image'+index,src=imageLinkEscaped controls loop)
									else
										img.searchImg.resultFile(id='image'+index,src=imageLinkEscaped)
			if totalPages > 1 && !shuffle
				div.pagination
					div.pageButtons(onwheel="this.scrollLeft += event.deltaY" onmouseenter="stopMainScroll()" onmouseleave="allowMainScroll()")
						each page_num in Array(totalPages).fill().map((_, i) => i + 1)
							if page_num == page
								a.pageButton.active(href=`/search?searchText=${searchText}&view=${view}&page=${page_num}`)= page_num
							else
								a.pageButton(href=`/search?searchText=${searchText}&view=${view}&page=${page_num}`)= page_num
					div.navigationButtons
						if page > 1
							a#firstPageButtom(href=`/search?searchText=${searchText}&view=${view}&page=1`, title='First Page') [1<
							a#previousPageButton(href=`/search?searchText=${searchText}&view=${view}&page=${page - 1}`, title='Previous Page') #{page - 1}<
						if page < totalPages
							a#nextPageButton(href=`/search?searchText=${searchText}&view=${view}&page=${page - (-1)}`, title='Next Page') >#{page - (-1)}
							a#lastPageButton(href=`/search?searchText=${searchText}&view=${view}&page=${totalPages}`, title='Last Page') >#{totalPages}]
			div.dummyFooter
		button#fullscreenButton(title='Fullscreen (Alt + Enter)' onclick='goFullscreen()') ◹
		script(src='/js/searchResults.js')