doctype html
html
	head
		title Search Results
		link(rel="stylesheet" href="/css/search-results.css")
		script(src='/js/searchResults.js')
	body
		div.mainDiv
			div.headingDiv
				h1 Search Results for "#{searchText}"
				h2 Showing #{matchingImagePaths.length}/#{totalResultCount} results (Page #{page}/#{totalPages})
			//- uncomment this if you want to scroll horizontally with mousewheen
			//- - div.results(onwheel="this.scrollLeft += event.deltaY * 2" onmouseenter="stopMainScroll()" onmouseleave="allowMainScroll()")
			div.results
				if matchingImagePaths.length === 0
					p No matching images found.
				else
					each imagePath, index in matchingImagePaths
						- const lastSlashIndex = imagePath.lastIndexOf('\\')
						- const folderName = imagePath.substring(0, lastSlashIndex)
						- const imageName = imagePath.substring(lastSlashIndex + 1)
						div.imageSidebar
							div.actionButtons
								button.hideSimilarButton ⛔
								button.showAtActualScaleButton(onclick=`showAtActualScale(${index})`) ⭕
							div.infoDiv
								- let similarImageLink = encodeURIComponent(imageName.replace(/\.[^/.]+$/, "").replace(/\d+$/, "").replace(/\(\d*\)|\d+$/g, "").trim())
								a.imageTitle(href='/search?searchText='+similarImageLink, target='_blank')
									| #{imageName} 
								- let folderlink = encodeURIComponent(folderName)
								a.subTitle(href='/search?searchText='+folderlink, target='_blank')
									|#{folderName}
						div.mainContent.scrollbarVisible
							- let imageLinkEscaped = encodeURIComponent(imagePath)
							a#contentLink(href='/?imageBackLink=' + imageLinkEscaped, target='_blank')
								if (imagePath.endsWith('.mp4') || imagePath.endsWith('.webm') || imagePath.endsWith('.mkv'))
									video.searchVid.resultFile(id='image'+index,src=imageLinkEscaped controls loop)
								else
									img.searchImg.resultFile(id='image'+index,src=imageLinkEscaped)
			if totalPages > 1
				div.pagination
					div.pageButtons(onwheel="this.scrollLeft += event.deltaY" onmouseenter="stopMainScroll()" onmouseleave="allowMainScroll()")
						each page_num in Array(totalPages).fill().map((_, i) => i + 1)
							if page_num == page
								a.pageButton.active(href=`/search?searchText=${searchText}&page=${page_num}`)= page_num
							else
								a.pageButton(href=`/search?searchText=${searchText}&page=${page_num}`)= page_num
					div.navigationButtons
						if page > 1
							a#firstPageButtom(href=`/search?searchText=${searchText}&page=1`, title='First Page') [1<
							a#previousPageButton(href=`/search?searchText=${searchText}&page=${page - 1}`, title='Previous Page') #{page - 1}<
						if page < totalPages
							a#nextPageButton(href=`/search?searchText=${searchText}&page=${page - (-1)}`, title='Next Page') >#{page - (-1)}
							a#lastPageButton(href=`/search?searchText=${searchText}&page=${totalPages}`, title='Last Page') >#{totalPages}]
			div.dummyFooter
		button#showHideHeadingBtn(title='Fullscreen (Alt + Enter)' onclick='showHideHeadingDiv()') 🢅